# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / Build
build/
dist/
*.spec

# Virtual Environments
.venv/
venv/
.venv/
env/
.env

# PyInstaller
*.manifest

# IDEs
.vscode/
.idea/

# Local Data
*.csv
*.bag